<ion-view view-title="我的联系人" ng-controller="ChatsCtrl">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/detail/{{chat.id}}">
        <img ng-src="images/noavatar_small.gif">
        <h2>{{chat.displayName}}</h2>
        <p ng-repeat="phoneNumbers in chat.phoneNumbers">{{phoneNumbers.normalizedNumber}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <!--<iframe src="http://172.16.40.66:9000/" height="100%" width="100%"  scrolling="no" />-->
</ion-view>
