<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.displayName}}">
  <ion-content class="padding">
    <div class="row" >
      <div class="item-avatar " style="margin:auto;position: relative;">
        <img ng-src="images/noavatar_small.gif">

      </div>
    </div>
    <div class="text-center" style="margin-top:5px;">{{chat.displayName}}</div>
    <ul class="list">
      <li  ng-repeat="number in chat.phoneNumbers">
        <a class="button button-block button-royal icon ion-ios-telephone-outline"   href="tel:{{number.normalizedNumber}}" >{{number.normalizedNumber}}</a>
      </li>
    </ul>
  </ion-content>
</ion-view>
